.navigation {
  display: flex;
  justify-content: center;
}

.navigationLink {
  color: black;
  margin: 0 20px;
  transition: color 0.3s ease;
}

.navigationLink:hover {
  color: red;
}
.navigation a:active,
.navigation a:visited {
  text-decoration: none;
}
